<ul class="menu">
    <li class="menu_list">
      <span class="front fas fa-home"></span>
      <a routerLink="" class="side">home</a>
    </li>
    <li class="menu_list">
      <span class="front fas fa-cart-shopping"></span>
      <a href="#" class="side">Shop</a>
    </li>
    <li class="menu_list">
      <span class="front fas fa-newspaper"></span>
      <a routerLink="news" class="side">News</a>
    </li>
    <li class="menu_list">
      <span class="front fas fa-user"></span>
      <a href="#" class="side">Profile</a>
    </li>
</ul>
  